<div class="container">
    <img src="assets/Angular.svg" alt="Logo da Empresa" />
    <form [formGroup]="form">
        <div>
            <img src="assets/icons/login.svg" />
            <input type="text" formControlName="email" placeholder="E-mail">
        </div>

        <div>
            <img src="assets/icons/pass.svg" />
            <input type="password" formControlName="password"  placeholder="Senha">
        </div>

        <button class="btn-vermelho" (click)="submitForm()" [disabled]="form.invalid"   type="submit">Entrar</button>
    </form>

    <span class="msg-error">Usuário ou senha incorreta</span>
</div>