@import './../../../../../../scss/variables.scss';

:host{
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &,div,input{
            width: 100%;
        }

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $preto;
        }

        img{
            width: 20px;
            padding: 8px;
        }

        input{
            height: 50px;
            border: none;
            font-size: 18px;

            &::placeholder {
                color: $preto;
            }
        }
    }
}