<app-new-component></app-new-component>

<app-title *ngIf="life"></app-title>

<button (click)="destroyComponent()">Destruir</button>

<br/>
<br/>
<br/>
________________________________________________________________________________________________________________________________________________________________________

<app-data-biding></app-data-biding>
<br/>
<br/>
<br/>
________________________________________________________________________________________________________________________________________________________________________
<app-diretivas-estruturais></app-diretivas-estruturais>

<br/>
<br/>
<br/>
________________________________________________________________________________________________________________________________________________________________________
<app-diretivas-atributos>
    <p>Passando parâmetro através do escopo da tag do componente dentro do componente main</p>
</app-diretivas-atributos>
<router-outlet></router-outlet>

<br/>
<br/>
<br/>
________________________________________________________________________________________________________________________________________________________________________
<app-input nomeUsuarioLogado="Gustavo"></app-input>

<br/>
<br/>
<br/>
________________________________________________________________________________________________________________________________________________________________________
<app-output (sendData)="setData($event)"></app-output>
<h3>Ao clicar em um dos botões, os dados a serem enviados aparecerão aqui:</h3>

<div class="ms-2">
    <p >Nome: <span *ngIf="dataFood">{{dataFood.nome}}</span></p>
    <p >Preço: <span *ngIf="dataFood">{{dataFood.preco}}</span></p>
</div>
<br/>
<br/>
<br/>
________________________________________________________________________________________________________________________________________________________________________
<h2>Criando meu primeiro serviço</h2>
<app-foodlist></app-foodlist>
