<app-title *ngIf="life"></app-title>

<button (click)="destroyComponent()">Destruir</button>

<br/>
<br/>
<br/>
________________________________________________________________________________________________________________________________________________________________________

<app-data-biding></app-data-biding>
<br/>
<br/>
<br/>
________________________________________________________________________________________________________________________________________________________________________
<app-diretivas-estruturais></app-diretivas-estruturais>

<br/>
<br/>
<br/>
________________________________________________________________________________________________________________________________________________________________________
<app-diretivas-atributos>
    <p>Passando parâmetro através do escopo da tag do componente dentro do componente main</p>
</app-diretivas-atributos>
<router-outlet></router-outlet>
