<h1>Banco InterLudico</h1>

<div>
    <h3>Olá Gustavo, seu saldo é: R$<span id="currentBalance">{{saldo}}</span></h3>
    
    <input #saldoInp id="inpSacar" type="number" max="{{saldo}}" min="1" />
    <button type="submit" (click)="sacar(saldoInp.value)">Sacar</button>
</div>
<hr/>
<br/>
<div id="deposito">
    <p>Deseja efetuar algum depósito ?</p>
    <input #deposito  id="inpDeposito" type="number" min="1" />
    <button type="submit" (click)="depositar(deposito.value)">Depositar</button>
</div>