@import './scss/reset.scss';
@import './scss/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body{
    background-color: var(--body);
}

.ajuste{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 610px;

    h1{
        font-weight: 700;
        font-size: 25px;
        margin: 0px 0px 20px;
    }
    
    p{
        font-weight: 400;
        font-size: 20px;
    }
    
    h1,p{
        color: var(--text-body);
    }
}
